@{
    ViewBag.Title = "Contact";
}
<h1 class="font-title">@ViewBag.Title</h1>
<br />
<hr />
<br />
<address class="font-content">
    Bucharest, Timpuri Noi<br />
    Strada Albineor nr32<br /><br />
  <abbr title="Phone">P:0253.224.442</abbr>
</address>

<address  class="font-content">
    <strong>Support:</strong>   <a href="mailto:baluionut22@gmail.com">baluionut22@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:barbu.mary54@yahoo.com">barbu.mary54@yahoo.com</a>
</address>